@model List<Member>
@{
    ViewData["Title"] = "Members";
}

<div class="white-block">
    <h1 class="display-4">Members</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Program
                </th>
                <th>
                    Code
                </th>
                @*<th>

                </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (Member member in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Referrals" asp-route-referralcode="@member.referralCode" asp-route-returnUrl="@Context.Request.Path">@member.displayName</a>
                    </td>
                    <td>
                        @member.programName (@member.programTitle)
                    </td>
                    <td>
                        @member.referralCode
                    </td>
                    @*<td class="text-right">
                            <a class="btn btn-primary" asp-controller="Referrals" asp-route-referralcode="@member.referralCode">View</a>
                            <a class="btn btn-primary" asp-action="Create" asp-controller="Referrals" asp-route-referralCode="@member.referralCode">Add</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
