@model List<Referral>
@{
    ViewData["Title"] = "Home Page";
}

<div class="white-block">
    <a class="btn btn-outline-primary" href="@ViewData["returnUrl"]">Back</a>
    <a class="btn btn-primary" asp-controller="Referrals" asp-action="Create" asp-route-referralcode="@Context.Request.Query["referralcode"]" asp-route-ReturnUrl="@Context.Request.GetEncodedPathAndQuery()">Add Referral</a>
    <h1 class="display-4">Referrals</h1>
    <span>Referrals: @Model.Count</span>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Program
                </th>
                <th>
                    Created
                </th>
                <th>
                    Qualified
                </th>
                <th>
                    Approved
                </th>
                <th class="text-right">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Referral r in Model)
            {
                <tr>
                    <td>
                        @r.displayName
                    </td>
                    <td>
                        @r.status
                    </td>
                    <td>
                        @r.amountFormatted
                    </td>
                    <td>
                        @r.programName
                    </td>
                    <td>
                        @DateTime.Parse(r.createDate).ToShortDateString()
                    </td>
                    <td>
                        @if (r.qualifiedDate != null)
                        {
                            @DateTime.Parse(r.qualifiedDate).ToShortDateString()
                        }
                    </td>
                    <td>
                        @if (r.approvedDate != null)
                        {
                            @DateTime.Parse(r.approvedDate).ToShortDateString()
                        }
                    </td>
                    <td class="text-right">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@r.id" asp-route-ReturnUrl="@Context.Request.GetEncodedPathAndQuery()">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@r.id" asp-route-ReturnUrl="@Context.Request.GetEncodedPathAndQuery()">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>